@import "./variables.scss";

.Cart-icon-box{
position: relative;
}

.Cart-icon {
width: 25px;
height: 25px;
margin-left: 8px;
    &:hover{
        cursor: pointer;
        color:#8D1101;
    }
}

.CartAmount{
    width:20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #F56C23;
    color:#fff;
    position: absolute;
    top:-8px;
    left:0;
}