@import "./variables.scss";

.member-box{
    display: flex;
    width: 90%;
    min-height: 707px;
    margin: 0 auto;
    padding: 20px;
    & ul{
        padding: 0;
    }
    & li {
        padding: 10px 16px;
    }
}
.member-icon{
    margin: 0 15px;
}

// memberInfo
.member-info-form{
    margin: 0 auto;
    width: 80%;
    text-align: left;
    padding: 20px 60px;
    & table {
        width: 100%;
        // border-collapse: collapse;
        border:1px solid #eee;
        padding: 5px;
    }
    & th{
        background: #C8C8C8;
        padding: 15px;
    }
    .member-td {
        width:75%;
        padding:0 25px 0 5px;
    }
    & div{
        width: 100%;
    }
    
    & tr{
        height: 50px;
        margin: 5px 0;
    }
    .editting-td {
        width: 12%;
    }
}


.member-content-box {
    width: 75%;
    background: #fff;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 15px;
    padding-top: 15px;
}

.member-bread{
    padding: 0px 65px;
    & a{
        text-decoration: none;
        color: $black;
    }

}


.MemberInfo-btn{
    background: #F56C23;
    color: $white;
    padding:5px 15px;
    margin:30px 5px;
    border:none;
    text-decoration: none;
    &:hover{
        background: #d56c23;
    }
    
        
}

.member-input{
    width: 100%;
    padding: 5px 8px;
    font-size: $font-m;
    &:disabled{
        background: #fff;
        border:none;
        border-bottom: 1px solid #ccc;
    }
}

.eidt-box-open{
    position: absolute;
    max-width:180px;
    top:50%;
    left:50%;
    height: 110px;
    border: 1px solid #ddd;
    background: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 8px #aaa;
    & p{
        margin:0
    }
    & .edit-Info-input{
        min-height: 54px;
    }
}

.edit-btn-box{
display: flex;
justify-content:center;
}

.editting{
    border: none;
    padding: 5px 15px;
    margin:0 auto;
}
.edit-ok{
    border: none;
    padding: 5px 15px;
    background: #F56C23;
    margin-right: 10px;
    width: 50%;
}
.edit-cancel{
    border: none;
    padding: 5px 15px;
    background: #C8C8C8;
    width: 50%;
}

// MemeberOrder

.orderItem-show{
    display: flex;
    height:0;
    transition:1.5s;
}
.orderItem-show-sec{
    height:100%;
    transition:1.5s;
    background: #ccc;
}
.member-info-order{
    margin: 0 auto;
    width: 80%;
    & h3{
        background: #bbb;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom:1px solid #aaa;
    }
    & h3:hover{
        background: rgba(200,200,200,0.65);
        border-bottom:3px solid #F56C23;
        margin: 5px 0;
        box-shadow: 0px 8px 10px #999;
    }
}


.member-other-box{
    text-align: center;
    font-size: $font-xl;
}

.member-other-icon{
    margin:50px 30%;
    width: 40%;
    height: 30%;
}

.member-other-content{
display: flex;
position: relative;
width: 50%;
margin: 0 auto;
    & p{
        margin: 0;
        padding-left: 80px;
    }
}

.jump {
animation: jumpDOT .5s infinite alternate;

}

.member-other-dot1 {
    position: absolute;
    animation-delay: -0.15s;
    left:53%;
}
.member-other-dot2 {
    position: absolute;
    left:63%;
    animation-delay: -0.3s;
}
.member-other-dot3 {
    position: absolute;
    left:73%;
    animation-delay: -0.45s;
}

@keyframes jumpDOT {
    from {
      top: -10px;
     
    }
    to {
      top:10px;
    }
  }

.anima-img {
    width: 1024px;
    height: 300px;
}
  
// RWD

@media (max-width: 760px){
    .member-info-form{
        margin: 0 auto;
        padding: 15px;
        width: 90%;
        &.member-info-form .member-td {
            width:70%;
        }
    }
    .member-other-content{
        & p{
            margin: 0;
            padding-left: 30px;
        }
    }
}