//顏色
$black:#050505;
$white:#ffffff;

//背景
$background:#343434;
//文字尺寸
$font-xl: 2rem; //超大標題 (首頁)
$font-x: 1.375rem; //22px 標題
$font-m: 1.125rem; //18px 小標題
$font-s: 1rem; //16px 內文
$font-xs: 0.8rem; //13px 小文字

